<%@custom=LinkedCustomFields.findAll%>

<%= link_to l(:label_create_custom_new),
            {:controller => 'linked_custom_fields', :action => 'new',:project_id => @project},
                          :class => 'icon icon-add' %>


<% @custom.each do |custom| %>
  <p>
   <label><big><b><%= custom.valore %></b></big></label> 
   <%= link_to l(:label_edit), {:controller => 'linked_custom_fields', :action => 'edit', :id => custom.id,:project_id => @project}, {:class => 'icon icon-edit' } %>
   <%= link_to l(:label_delete), {:controller => 'linked_custom_fields', :action => 'destroy', :id => custom.id,:project_id => @project}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
	<br>
	  <%@padre=LinkedCustomFields.find_by_id(custom.figlia_di)%>
	<% if @padre.present? %>
	 <label>figlia di :<%= @padre.valore %></label>
	 <%end%> 
  </p>
  <br>
  <br>
<% end %>

</div>
